@font-face {
  font-family: 'comichelvetic';
  src: url('resources/ui/fonts/comichelvetic.woff2') format('woff2'),
       url('resources/ui/fonts/comichelvetic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'comichelvetic', sans-serif;
}

html, body {
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.crosshair {
  position: absolute;
  width: 100%;
  top: 48%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.crosshair img {
  text-align: center;
  width: 2%;
  max-width: 1.5em;
}

.pause-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000009a;
  z-index: 10;
}

.pause-menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.arrow-button {
  color: white;
  background: #37718e;
  border: none;
  border-radius: 0.75em;
  padding: 1em;
  max-width: 6em;
}

.arrow-button:hover {
  background: #254e70;
  cursor: pointer;
}

.arrow-button img {
  width: 80%;
}

.owners-manual {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.owners-manual-page {
  width: 75%;
  max-width: 55em;
  background: white;
  padding: 1.8em;
  margin: 2em;
  border-radius: 0.75em;
}

.owners-manual-page img {
  max-width: 40em;
  max-height: 30em;
}

.owners-manual-page .img-txt-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.play-button {
  color: white;
  background: #4da87d;
  border: none;
  border-radius: 0.75em;
  padding: 1em;
  min-width: 8em;
}

.play-button:hover {
  background: #3f7d63;
  cursor: pointer;
}

.import-menu {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 25%;
  padding-right: 25%;
  background: #0000009a;
  z-index: 9;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.import-menu-close-button {
  background: #e08588;
  color: white;
  border: none;
  border-radius: 0.75em;
  padding: 1em;
  align-self: flex-end;
}

.import-menu-close-button:hover {
  background: #dc797d;
}

.import-menu-content {
  box-sizing: border-box;
  width: 100%;
  background: white;
  padding: 1.8em;
  margin: 1em;
  border-radius: 0.75em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.import-menu-content img {
  margin: 0.5em auto;
  width: 80%;
  max-width: 20em;
}
