* {
  margin: 0;
}

html, body {
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.crosshair {
  position: absolute;
  width: 100%;
  top: 48%;
  text-align: center;
  color: black;
  text-shadow: 0px 0px 2px white;
  display: none;
  z-index: 10;
}

.pause-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000009a;
  z-index: 10;
  color: white;
}

.menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.import-menu {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 25%;
  padding-right: 25%;
  background: #0000009a;
  z-index: 9;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: safe center;
}

.import-menu-close-button {
  background-color: #e08588;
  color: white;
  border: none;
  border-radius: 0.75em;
  padding: 1em;
  align-self: flex-end;
}

.import-menu-close-button:hover {
  background-color: #dc797d;
}

.import-menu-content {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 1.8em;
  margin: 1em;
  border-radius: 0.75em;
  display: flex;
  flex-flow: column;
  justify-content: safe center;
  text-align: center;
}

.import-menu-content img {
  margin: 0.5em auto;
  width: 80%;
  max-width: 20em;
}
